* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
#header-wrapper {
	display: inline-block;
	width: 100%;
	font-family: 'Comic Sans MS', sans-serif;
}
#header-logo h1 {
	display: inline;
	text-transform: lowercase;
}
#header-menu-wrapper {
	display: flex;
}
.header-menu-right {
	text-align: right;
}
.header-menu-left {
	display: inline-flex;
	gap: 5px;
}
.header-menu-item {
	cursor: pointer;
}
.header-menu-group {
	flex-grow: 1;
	flex-shrink: 1;
}
.header-menu-item {
	display: inline;
}
main {
	display: flex;
	flex-direction: column;
	height: auto;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100%;
}
#chat-wrapper {
	flex: 2 2 calc(100% - 200px);
}
#minigame-wrapper {
	flex: 1 0 200px;
}
#chat{
	border: 2px inset white;
	height: calc(100% - 20px);
}
.chat-message-wrapper{
	width: 100%;
	display:block;
}
.chat-message-wrapper:nth-child(even){
	background-color: #4d4d4d
}
.chat-message-username {
	font-weight: bold;
	display: inline;
}
.chat-message-content {
	display: inline;
	margin-left: 10px;
}
#app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 5px;
}
footer {
	flex: 1 0 10px;
}